@page "/rss"

@using BlazorExploratoryDay.Shared
@using BlazorExploratoryDay.Shared.Interfaces
@inject IBlogPostsController data

<h1>RSS Feed</h1>

@if (blogPosts == null)
{
	<p><em>Loading...</em></p>
}
else
{
	<table class='table'>
		<thead>
			<tr>
				<th>Title</th>
				<th>Published</th>
				<th>Description</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var post in blogPosts)
			{
				<tr>
					<td>@post.Title</td>
					<td>@post.Author (@post.Created.ToString("d"))</td>
					<td>@post.Description</td>
				</tr>
			}
		</tbody>
	</table>
}

@functions {
	IEnumerable<BlogPost> blogPosts;

	protected override async Task OnInitAsync()
	{
		blogPosts = await data.GetBlogPosts();
	}
}
